@tailwind base;
@tailwind components;
@tailwind utilities;

/* ______________________________________________________________________ *\
   Import Local Fonts
\* ______________________________________________________________________ */

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../assets/fonts/Poppins-Light.ttf") format("truetype");
}

/* ______________________________________________________________________ *\
   Base
\* ______________________________________________________________________ */

@layer base {
  // * {
  //   box-shadow: 0 0 0 3px red inset;
  // }
  // header,
  // main,
  // footer {
  //   box-shadow: 0 0 0 3px red inset;
  // }
  // section {
  //   box-shadow: 0 0 0 3px red inset;
  // }
  body {
    background-color: theme("colors.primary");
    color: theme("colors.secondary");
    font-family: theme("fontFamily.sans");
    font-size: theme("fontSize.sm");
  }

  h1 {
    font-size: theme("fontSize.2xl");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  h2 {
    font-size: theme("fontSize.xl");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  h3 {
    font-size: theme("fontSize.lg");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  h4 {
    font-size: theme("fontSize.base");
    font-family: theme("fontFamily.sans");
    font-weight: 600;
  }

  p {
    font-size: theme("fontSize.sm");
    font-family: theme("fontFamily.sans");
  }
}

/* ______________________________________________________________________ *\
   Components
\* ______________________________________________________________________ */
@layer components {
  /* Start Connect component  */

  .btn {
    background-color: #21262d;
    color: #c9d1d9;
    border: 1px solid;
    border-color: rgba(240, 246, 252, 0.1);
    border-radius: 6px;
    padding: 5px 16px;
    font-size: 14px;
    // outline: 1px solid #ffffff;
    outline-offset: 0px;
  }

  text {
    cursor: pointer;
  }

  .header {
    // box-shadow: inset 0 calc(1px * -1) #30363d;
    border-bottom: 1px solid #30363d;
  }
  .nav {
    border-right: 1px solid #30363d;
  }
  .box {
    border-radius: 6px;
    border-style: solid;
    border-color: #30363d;
    border-width: max(1px, 0.0625rem);
  }

  footer {
    rect {
      width: 8px;
      height: 8px;
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;

    > .project-card {
      flex: 0 0 120px;
      border-radius: 0.2rem;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      box-shadow: 1px 5px 15px theme("colors.tertiary");
      position: relative;
      overflow: hidden;

      .content {
        color: theme("colors.secondary");
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: theme("colors.tertiary");
        background: linear-gradient(
          0deg,
          rgba(1, 4, 9, 0.6755077030812324) 0%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;

        span {
          display: block;
          margin-top: 5px;
          font-size: 1.2rem;
        }
      }

      &:hover {
        flex: 0 0 250px;
        box-shadow: 1px 3px 15px rgb(43, 47, 63);
        transform: translatey(-30px);
      }

      &:hover .content {
        opacity: 1;
        transform: translatey(0%);
        visibility: visible;
      }
    }
  }

  .scroll-container {
    max-width: 100%;
    height: calc(100vh - 96px);
    font-size: 20px;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .scroll-area {
    min-height: calc(100vh - 96px);
    width: 100%;
    padding: 6rem;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  section {
    display: flex;
    // height: calc(100vh - 96px);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .scroll-container {
    grid-template-columns: 350px calc(100% - 350px);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .scroll-container > .nav {
    grid-area: 1 / 1 / 5 / 2;
  }
  .scroll-container > .scroll-area:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .scroll-container > .scroll-area:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .scroll-container > .scroll-area:nth-child(4) {
    grid-area: 3 / 2 / 4 / 3;
  }
  .scroll-container > .scroll-area:nth-child(5) {
    grid-area: 4 / 2 / 5 / 3;
  }

  // /* Hide scrollbar for Chrome, Safari and Opera */
  // .scroll-container::-webkit-scrollbar {
  //   display: none;
  // }
  // /* Hide scrollbar for IE, Edge and Firefox */
  // .scroll-container {
  //   -ms-overflow-style: none; /* IE and Edge */
  //   scrollbar-width: none; /* Firefox */
  // }
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #010409;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #21262d;
  }

  /* End Connect component  */
}

@layer utilities {
}
